* {
    font-family: Helvetica, Arial, sans-serif;
    margin:0;
}

.axis_y {
    /* Safari */
    -webkit-transform: rotate(-90deg);
    /* Firefox */
    -moz-transform: rotate(-90deg);
    /* IE */
    -ms-transform: rotate(-90deg);
    /* Opera */
    -o-transform: rotate(-90deg);
    /* Internet Explorer */
    filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=3);
    left: -200px;
    position: absolute;
    font-weight:normal;
    top:500px;
}
.axis_x,
.axis_y {
    font-size: 2em;
    color:#333;
}
.title {
    font-size: 1em;
}
.graph {
    position: relative;
    display: inline-block;
}
.graph img{
    margin-left:20px;
}
.title,
.axis_x {
    text-align: center;
}
.btnCont {
    margin-top: 20px;
    margin-left:55px;
}
button{
    font-size: 28px;
    height: 75px;
    width: 200px;
}
button.active {
    background-color:#FF9900;
}