
body {
    background-color:#fff;
    width:1024px;
}
.axis_y {
    /* Safari */
    -webkit-transform: rotate(-90deg);
    /* Firefox */
    -moz-transform: rotate(-90deg);
    /* IE */
    -ms-transform: rotate(-90deg);
    /* Opera */
    -o-transform: rotate(-90deg);
    /* Internet Explorer */
    filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=3);
    left: -50px;
    position: absolute;
    font-weight:normal;
    top:400px;
}
.axis_x,
.axis_y {
    font-size: 1em;
    color:#333;
}
.title {
    font-size: 1em;
}
.graph {
    position: relative;
    display: inline-block;
}
.graph img{
    margin-left:20px;
}
.title,
.axis_x {
    text-align: center;
}
.btnCont {
    margin-top: 20px;
    margin-left:55px;
    margin-left:80px;
    width:1520px;
}
.btnCont button{
    font-size: 28px;
    height: 75px;
    width: 175px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    display:inline;
    margin-right:20px;
    color:#fff;
    background-color:#0A76BE;
}
.btnCont button.active {
    background-color:#FF9900;
}

.credits {
    
}
.creditspage {
    margin:20px;
    font-size: 24px;
}
.creditspage p {
    margin-bottom:20px;
}
.homeBtn {
    width:300px;
}