* {
    font-family: Helvetica, Arial, sans-serif;
    margin:0;
}

.axis_y {
    /* Safari */
    -webkit-transform: rotate(-90deg);
    /* Firefox */
    -moz-transform: rotate(-90deg);
    /* IE */
    -ms-transform: rotate(-90deg);
    /* Opera */
    -o-transform: rotate(-90deg);
    /* Internet Explorer */
    filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=3);
    left: -85px;
    position: absolute;
    font-weight:normal;
    bottom:135px;
}
.axis_x,
.axis_y {
    font-size: .8em;
    color:#333;
}
button.toggle{
    position: absolute;
    right: 10px;
    top: 5px;
    z-index: 100;
}
.title {
    font-size: 1em;
}
.graph {
    position: relative;
    display: inline-block;
}
.graph img{
    margin-left:20px;
}
.title,
.axis_x {
    text-align: center;
}