<!--//div ng-controller="mloCtrl" class="mlo">
    <graph-generator></graph-generator>
</div>
<div ng-controller="nwrCtrl">
    <graph-generator></graph-generator>
</div>
<div ng-controller="mlbCtrl">
    <graph-generator></graph-generator>
</div//-->
<div ng-controller="graphCtrl">
    <div class="btnCont">
        <button ng-click="generateImageUrl('sixtyyear');" class="toggle" ng-class="{active: range == 'sixtyyear'}">60 years</button>
        <button ng-click="generateImageUrl('tenyear');" class="toggle" ng-class="{active: range == 'tenyear'}">10 years</button>
        <button ng-click="generateImageUrl('oneyear');" class="toggle" ng-class="{active: range == 'oneyear'}">1 year</button>
        <button ng-click="generateImageUrl('onemonth');" class="toggle" ng-class="{active: range == 'onemonth'}">1 month</button>
        <button ng-click="generateImageUrl('oneweek');" class="toggle" ng-class="{active: range == 'oneweek'}">1 week</button>
    </div>
    <graph-generator></graph-generator>
    <div class="credits mlo">Mauna Loa Data from Scripps CO<sub>2</sub> Program <img src="assets/sio_logo.png" alt="Scripps"></div>
    <div class="credits ucar"><img src="assets/ncar-logo-sm.jpg" alt="NCAR"> Niwot Ridge and Mesa Lab Data from NCAR</div>
</div>