<div ng-controller="graphCtrl">
    <div class="btnCont">
        <button ng-click="generateImageUrl('all');" class="toggle" ng-class="{active: range == 'all'}">60 years</button>
        <button ng-click="generateImageUrl('tenyear');" class="toggle" ng-class="{active: range == 'tenyear'}">10 years</button>
        <button ng-click="generateImageUrl('oneyear');" class="toggle" ng-class="{active: range == 'oneyear'}">1 year</button>
        <button ng-click="generateImageUrl('onemonth');" class="toggle" ng-class="{active: range == 'onemonth'}">1 month</button>
        <button ng-click="generateImageUrl('oneweek');" class="toggle" ng-class="{active: range == 'oneweek'}">1 week</button>
        <button class="credits" ng-click="toggleCreditsModal()" class="toggle">Credits</button>
    </div>
    <graph-generator></graph-generator>
    <p class="legend_cont"><img src="assets/legend.jpg"/></p>
    <scied-modal visible="showCreditsModal" modaltitle="creditstitle">
        <div class="creditspage">
            <img src="assets/scied.png" alt="UCAR Center for Science Education">
            <p>This interactive was created by the UCAR Center for Science Education.</p><p>Mauna Loa data provided by Ralph Keeling and the Scripps CO<sub>2</sub> Program. Niwot Ridge and Mesa Lab data provided by Britton Stephens and NCAR.</p>
            
            <img src="assets/ncar.png" alt="NCAR"><img src="assets/sio_logo.png" alt="Scripps">
            
        </div>
        <md-button class="md-raised md-cornered closeBtn" ng-click="closeModal();">Close</md-button>
    </scied-modal>
</div>